.header {
  text-align: center;
}

h1 {
  margin-bottom: 0px;
  font-size: 36px;
  margin-top: 50px;
}

.location {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact-info {
  margin-top: 0px;
  margin-bottom: 0px;
}

.linkedin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.github {
  margin-top: 0px;
}

.linkedin-logo {
  color: #0077b5;
}

.github-logo {
  color: #171515;
}

.social-media {
  margin-top: 0px;
  margin-bottom: 30px;
}
