.Main {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

.professional-experience,
.education,
.tech,
.projects,
.interests {
  margin-bottom: 0px;
  font-size: 24px;
  color: #0f52ba;
}

.vercel,
.stthomas,
.uhg {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
}

.finance-manager,
.financial-consultant,
.sfa-vercel,
.sfa-uhg {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

.finance-manager-content,
.sfa-vercel-content,
.fc-content,
.sfa-uhg-content,
.project-content,
.interests-content {
  margin-top: 0px;
}

hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

.uofm,
.aws-certs {
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 0px;
}

.languages {
  margin-top: 0px;
  margin-bottom: 0px;
}

.technologies {
  margin-top: 12px;
  margin-bottom: 0px;
}

.other {
  margin-top: 12px;
}

.align-left {
  margin-left: -25px;
}
